#rgbValue, #hslaValue {
    float: right;
}

.cj-container {
    overflow: auto;
}

#showPicker {
    float: left;
}

.colorPicker {
    background: #E8E6E0;
    border: 1px solid #BBB;
    -moz-border-radius: .3em;
    border-radius: .3em;
    margin: 1em;
    display: inline-block;
}
.colorPicker .extras .currentColor {
    float: right;
    width: 65px;
    height: 30px;
    border: 1px solid #BBB;
    -moz-border-radius: .3em;
    border-radius: .3em;
}

.colorPicker .extras .hex {
    float: right;
}

.colorPicker .extras .hex input {
    width: 60px;
}

.colorPicker .twod {
    float: left;
    margin: 0.5em;
}

/* main dimensions */
.colorPicker .twod, .colorPicker .twod .bg {
    width: 240px;
    height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg {
    height: 240px;
}
.colorPicker .oned, .colorPicker .oned .bg, .colorPicker .oned .pointer .shape {
    width: 20px;
}

.colorPicker .twod .bg {
    position: absolute;
}
.colorPicker .twod .pointer {
    position: relative;
    z-index: 2;
    width: 8px;
}
.colorPicker .twod .pointer .shape {
    position: absolute;
}
.colorPicker .twod .pointer .shape1 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 2px solid black;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.colorPicker .twod .pointer .shape2 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border: 2px solid white;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.colorPicker .oned {
    float: left;
    margin: 0.5em;
}

.colorPicker .oned .bg {
    border: 1px solid #BBB;
    /*
    -moz-border-radius: .3em;
    border-radius: .3em;
    */
}
.colorPicker .oned .pointer {
    position: relative;
    z-index: 2;
}
.colorPicker .oned .pointer .shape {
    position: absolute;
    margin-left: -1px;
    margin-top: -4px;
    height: 5px;
    border: 2px solid black;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



